@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Shrikhand&display=swap");
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes endload {
  0% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes endload {
  0% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-family: Roboto;
}

a:visited {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

.arrow {
  position: relative;
  top: 1px;
  right: 25%;
}

.title--page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title .logo--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title .logo--header--img {
  width: 150px;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d7d7d7;
  font-weight: 500;
  -webkit-box-shadow: 0 -5px 6px -5px #333;
          box-shadow: 0 -5px 6px -5px #333;
  margin-top: 20px;
}

.localisation--icone {
  padding-right: 10px;
}

.header--bloc {
  background: #f1f1f1;
  text-align: center;
  padding: 0% 0% 10% 0%;
}

.header--bloc--text {
  border: 1px transparent;
  border-radius: 999px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA 5%, #9356DC 100%);
  padding: 15px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  width: 210px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.header--bloc--text:hover {
  background: #ae80e5;
  -webkit-box-shadow: 5px 1px 5px 1px #6b6b6b;
          box-shadow: 5px 1px 5px 1px #6b6b6b;
}

.howitworks {
  margin-bottom: 5%;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
}

.steps :hover {
  background: #c9abee;
}

.steps :hover i {
  color: #a16be0;
}

.steps--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 17px;
  border: 1px;
  -webkit-box-shadow: 5px 0px 10px 0px #6b6b6b;
          box-shadow: 5px 0px 10px 0px #6b6b6b;
  padding: 5% 0% 5% 5%;
  border-radius: 10px;
  height: 70%;
  width: 80%;
}

.steps--text i {
  padding: 0px 15px 0px 15px;
}

.steps--number {
  position: relative;
  left: 8px;
  top: 5px;
  margin-top: 4%;
  color: white;
  background: #9356DC;
  border-radius: 999px;
  font-size: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.Restaurants {
  background: #e9e9e9;
  padding: 0px 0px 18px 18px;
}

.case_restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 5px;
  width: 97%;
  margin-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 5px 0px 10px 0px #6b6b6b;
          box-shadow: 5px 0px 10px 0px #6b6b6b;
  border-radius: 15px;
}

.case_restau p {
  padding-left: 10px;
}

.case_restau h3 {
  padding-left: 10px;
}

.case_restau .img_rest {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.case_restau .description--case--heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case_restau .description--case--heart .icon-b {
  padding-right: 13px;
  color: #aaaaaa;
}

@-webkit-keyframes like {
  from {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: #9356DC;
  }
  30% {
    opacity: 1;
    scale: 0.75;
    color: #9356DC;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: #9356DC;
  }
  to {
    opacity: 1;
    color: #9356DC;
    -webkit-transform: scale(1.13);
            transform: scale(1.13);
  }
}

@keyframes like {
  from {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: #9356DC;
  }
  30% {
    opacity: 1;
    scale: 0.75;
    color: #9356DC;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: #9356DC;
  }
  to {
    opacity: 1;
    color: #9356DC;
    -webkit-transform: scale(1.13);
            transform: scale(1.13);
  }
}

.heartfull .icon-a {
  position: relative;
  bottom: 33px;
  cursor: pointer;
  opacity: 1;
  color: transparent;
}

.heartfull .icon-a-page {
  bottom: 47px;
  left: 0.97;
}

.heartfull .icon-a:hover {
  -webkit-animation: like 500ms linear;
          animation: like 500ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: step-start;
  transition: step-start;
}

.menu--tittle .img--top {
  position: relative;
  width: 100%;
  height: 300px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.dishes_top {
  margin-bottom: 15px;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dishes_top h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 4px solid #99E2D0;
  width: 16%;
}

section {
  margin-bottom: 40px;
}

.menu {
  border-radius: 50px 50px 0px 0px;
  background: #f2f2f2;
  margin-top: -60px;
}

.menu-font {
  font-family: Shrikhand;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  padding: 5%;
}

.menu .title_dishes {
  width: 100%;
  overflow: hidden;
}

.menu .case_dishes {
  width: 100%;
}

.menu .big_case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  border: 1px transparent;
  font-size: 16px;
  padding: 0px 1px 0px 10px;
  border-radius: 10px;
  margin-bottom: 13px;
  background: white;
  -webkit-box-shadow: 2px 0px 5px 0px #6b6b6b;
          box-shadow: 2px 0px 5px 0px #6b6b6b;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu .Price_and_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  width: 90%;
}

.menu .Price_and_description .price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
}

@-webkit-keyframes apparation {
  from {
    -webkit-transform: translateX(112px);
            transform: translateX(112px);
  }
  to {
    -webkit-transform: translate(-85%);
            transform: translate(-85%);
  }
}

@keyframes apparation {
  from {
    -webkit-transform: translateX(112px);
            transform: translateX(112px);
  }
  to {
    -webkit-transform: translate(-85%);
            transform: translate(-85%);
  }
}

@-webkit-keyframes max-widtha {
  from {
    max-width: 100%;
  }
  to {
    max-width: 72%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@keyframes max-widtha {
  from {
    max-width: 100%;
  }
  to {
    max-width: 72%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  border-radius: 25px;
  width: 95px;
  margin-right: -122px;
}

.fa-check-circle {
  color: white;
}

.big_case:hover .Price_and_description {
  -webkit-animation: max-widtha 1s;
          animation: max-widtha 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.big_case:hover .title_dishes {
  -webkit-animation: max-widtha 830ms;
          animation: max-widtha 830ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.big_case:hover .check {
  -webkit-animation: apparation 820ms linear forwards;
          animation: apparation 820ms linear forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.big_case:hover .check .fa-check-circle {
  -webkit-animation: rotation 800ms linear 200ms;
          animation: rotation 800ms linear 200ms;
}

.big_case1 {
  -webkit-animation: fadein 2s linear 100ms 1 forwards;
          animation: fadein 2s linear 100ms 1 forwards;
}

.big_case2 {
  -webkit-animation: fadein 2s linear 250ms 1 forwards;
          animation: fadein 2s linear 250ms 1 forwards;
}

.big_case3 {
  -webkit-animation: fadein 2s linear 350ms 1 forwards;
          animation: fadein 2s linear 350ms 1 forwards;
}

.big_case4 {
  -webkit-animation: fadein 2s linear 450ms 1 forwards;
          animation: fadein 2s linear 450ms 1 forwards;
}

footer {
  padding-top: 20px;
  background: #353535;
  color: white;
  padding-bottom: 10px;
}

footer img {
  width: 100px;
  padding-left: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer ul {
  list-style-type: none;
  padding-left: 15px;
}

footer ul li {
  padding: 0px 0px 5px 10px;
}

footer a[href^="mailto:"] {
  color: white;
  text-decoration: none;
}

.command {
  border: 1px transparent;
  border-radius: 999px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA 5%, #9356DC 100%);
  padding: 15px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  width: 210px;
  margin-bottom: 5%;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.command:hover {
  background: #ae80e5;
  -webkit-box-shadow: 5px 1px 5px 1px #6b6b6a;
          box-shadow: 5px 1px 5px 1px #6b6b6a;
}

.command-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Loader-animation {
  border-top: #9356DC 7px solid;
  border-bottom: #99E2D0 7px solid;
  border-left: #FF79DA 7px solid;
  border-right: #f6f6f6 7px solid;
  border-radius: 9999px;
  width: 150px;
  height: 150px;
  position: relative;
  top: 30%;
  margin: auto;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

.Loader {
  z-index: 2;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  -webkit-animation: endload 2s linear 3s;
          animation: endload 2s linear 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  .title .logo--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title .logo--header--img--accueil {
    width: 30%;
  }
  .steps--text {
    height: 30%;
    width: 80%;
  }
}

@media (min-width: 991px) {
  .howitworks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Big-steps-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .steps {
    margin-bottom: 1%;
  }
  .steps--text {
    font-size: 18px;
    padding: 3% 0% 3% 1%;
    height: 70%;
    width: 300px;
  }
  .Restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .all-restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .case_restau {
    width: 35%;
    margin: 10px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu--pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu .big_case {
    width: 280px;
  }
  .menu .big_case h2 {
    font-size: 5px;
  }
  .menu .big_case h3 {
    font-size: 17px;
  }
  .menu .command-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */