@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Shrikhand&display=swap');
@mixin flexbox-center {display: flex;
    justify-content: center;
}
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$header-color:#f6f6f6;


body{
    font-family: Roboto;
}
.title
.title_page
{
@include flexbox-center
}
.logo--header{
@include flexbox-center;
&--img
{width: 60%;}
}

.localisation{
display: flex;
justify-content: center;
align-items: center;
background: darken($header-color,12%);
font-weight: 500;
box-shadow: 0 -5px 6px -5px #333;
margin-top: 20px;
&--icone
{padding-right: 10px;}
}